<a class="close lsf">backspace</a>
<h4>Детали</h4>
<form name="addTileForm" ng-submit="createScheduleTile()">
  <div class="pad">
    <select ng-model="currentStudyId"
            ng-options="study.id as studyAdapter(study) for study in studies" ngv-required>
      <option value="">Занятие</option>
    </select>
    <a class="push"><span class="lsf">plus</span> Дополнить</a>
  </div>
  <input type="submit" class="btn btn-inverse btn-block"
         ng-class="{disabled: addTileForm.$invalid, 'btn-primary': !addTileForm.$invalid}"
         ng-disabled="addTileForm.$invalid" value="Подтвердить">
</form>