<div class="manage-screen animate main-animation-enter-setup" animate-view>
  <h1>Управление данными</h1>

  <div class="clearfix vertical" tabs>
    <div pane name="Пользователи" icon="user" category="user">
      <div ng-controller="UsersManageController" spin-on="{on: 'users:request-start', off: 'users:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Логин</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addUser()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td>{{$index + 1}}</td>
              <td>{{user.name}}</td>
              <td>{{user.surname}}</td>
              <td>{{user.login}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editUser(user)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewUser(user)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseUser(user)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!users || !users.length">
              <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createUser()" ng-show="mode == 'addMode'">
          <h3>Добавить пользователя</h3>
          <label for="">Имя пользователя</label>
          <input type="text" class="span7" ng-model="createdUser.name" ngv-required>
          <label for="">Фамилия пользователя</label>
          <input type="text" class="span7" ng-model="createdUser.surname" ngv-required>
          <label for="">Отчество пользователя</label>
          <input type="text" class="span7" ng-model="createdUser.patronymic" ngv-required>
          <label for="">Логин пользователя</label>
          <input type="text" class="span7" ng-model="createdUser.login" ngv-required>
          <label for="">Пароль пользователя (номер зачетки)</label>
          <input type="text" class="span7" ng-model="createdUser.password" ngv-required>
          <label class="checkbox">
            <input type="checkbox" ng-model="createdUser.admin"> Администратор
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateUser()" ng-show="mode == 'editMode'">
          <h3>Редактировать пользователя</h3>
          <label for="">Имя пользователя</label>
          <input type="text" class="span7" ng-model="editedUser.name" ngv-required>
          <label for="">Фамилия пользователя</label>
          <input type="text" class="span7" ng-model="editedUser.surname" ngv-required>
          <label for="">Отчество пользователя</label>
          <input type="text" class="span7" ng-model="editedUser.patronymic" ngv-required>
          <label for="">Логин пользователя</label>
          <input type="text" class="span7" ng-model="editedUser.login" ngv-required>
          <label for="">Пароль пользователя (номер зачетки)</label>
          <input type="text" class="span7" ng-model="editedUser.password">
          <label class="checkbox">
            <input type="checkbox" ng-model="editedUser.admin"> Администратор
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали пользователя</h3>
          <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>{{viewedUser.name}}</dd>
            <dt>Фамилия</dt>
            <dd>{{viewedUser.surname}}</dd>
            <dt>Отчество</dt>
            <dd>{{viewedUser.patronymic}}</dd>
            <dt>Логин</dt>
            <dd>{{viewedUser.login}}</dd>
            <dt>Пароль (хеш)</dt>
            <dd>{{viewedUser.password}}</dd>
            <dt>Администратор</dt>
            <dd>{{viewedUser.admin && 'Да' || 'Нет'}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Студенты" icon="users" category="student">
      <div ng-controller="StudentsManageController"
           spin-on="{on: 'students:request-start', off: 'students:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Логин</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addStudent()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="student in students">
              <td>{{$index + 1}}</td>
              <td>{{student.name}}</td>
              <td>{{student.surname}}</td>
              <td>{{student.login}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editStudent(student)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewStudent(student)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseStudent(student)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!students || !students.length">
              <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createStudent()" ng-show="mode == 'addMode'">
          <h3>Добавить студента</h3>
          <label for="">Имя студента</label>
          <input type="text" class="span7" ng-model="createdStudent.name" ngv-required>
          <label for="">Фамилия студента</label>
          <input type="text" class="span7" ng-model="createdStudent.surname" ngv-required>
          <label for="">Отчество студента</label>
          <input type="text" class="span7" ng-model="createdStudent.patronymic" ngv-required>
          <label for="">Логин студента</label>
          <input type="text" class="span7" ng-model="createdStudent.login" ngv-required>
          <label for="">Пароль студента (номер зачетки)</label>
          <input type="text" class="span7" ng-model="createdStudent.password" ngv-required>
          <label for="">Группа студента</label>
          <select class="span7" ng-model="createdStudent.groupId"
                  ng-options="group.id as groupAdapter(group) for group in groups" ngv-required>
          </select>
          <label for="">Год поступления студента</label>
          <input type="text" class="span7" ng-model="createdStudent.yearOfEntrance" ngv-required>
          <label class="checkbox">
            <input type="checkbox" ng-model="createdStudent.praepostor"> Староста
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-model="createdStudent.admin"> Администратор
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateStudent()" ng-show="mode == 'editMode'">
          <h3>Редактировать студента</h3>
          <label for="">Имя студента</label>
          <input type="text" class="span7" ng-model="editedStudent.name" ngv-required>
          <label for="">Фамилия студента</label>
          <input type="text" class="span7" ng-model="editedStudent.surname" ngv-required>
          <label for="">Отчество студента</label>
          <input type="text" class="span7" ng-model="editedStudent.patronymic" ngv-required>
          <label for="">Логин студента</label>
          <input type="text" class="span7" ng-model="editedStudent.login">
          <label for="">Пароль студента (номер зачетки)</label>
          <input type="text" class="span7" ng-model="editedStudent.password" ngv-required>
          <label for="">Группа студента</label>
          <select class="span7" ng-model="editedStudent.groupId"
                  ng-options="group.id as groupAdapter(group) for group in groups" ngv-required>
          </select>
          <label for="">Год поступления студента</label>
          <input type="text" class="span7" ng-model="editedStudent.yearOfEntrance" ngv-required>
          <label class="checkbox">
            <input type="checkbox" ng-model="editedStudent.praepostor"> Староста
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-model="editedStudent.admin"> Администратор
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали студента</h3>
          <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>{{viewedStudent.name}}</dd>
            <dt>Фамилия</dt>
            <dd>{{viewedStudent.surname}}</dd>
            <dt>Отчество</dt>
            <dd>{{viewedStudent.patronymic}}</dd>
            <dt>Логин</dt>
            <dd>{{viewedStudent.login}}</dd>
            <dt>Пароль (хеш)</dt>
            <dd>{{viewedStudent.password}}</dd>
            <dt>Группа</dt>
            <dd>{{viewedStudent.groupId}}</dd>
            <dt>Год поступления</dt>
            <dd>{{viewedStudent.yearOfEntrance}}</dd>
            <dt>Староста</dt>
            <dd>{{viewedStudent.praepostor && 'Да' || 'Нет'}}</dd>
            <dt>Администратор</dt>
            <dd>{{viewedStudent.admin && 'Да' || 'Нет'}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Преподователи" icon="star" category="lecturer">
      <div ng-controller="LecturersManageController"
           spin-on="{on: 'lecturers:request-start', off: 'lecturers:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Фамилия</th>
              <th>Логин</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addLecturer()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lecturer in lecturers">
              <td>{{$index + 1}}</td>
              <td>{{lecturer.name}}</td>
              <td>{{lecturer.surname}}</td>
              <td>{{lecturer.login}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editLecturer(lecturer)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewLecturer(lecturer)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseLecturer(lecturer)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!lecturers || !lecturers.length">
              <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createLecturer()" ng-show="mode == 'addMode'">
          <h3>Добавить преподователя</h3>
          <label for="">Имя преподователя</label>
          <input type="text" class="span7" ng-model="createdLecturer.name" ngv-required>
          <label for="">Фамилия преподователя</label>
          <input type="text" class="span7" ng-model="createdLecturer.surname" ngv-required>
          <label for="">Отчество преподователя</label>
          <input type="text" class="span7" ng-model="createdLecturer.patronymic" ngv-required>
          <label for="">Логин преподователя</label>
          <input type="text" class="span7" ng-model="createdLecturer.login" ngv-required>
          <label for="">Пароль преподователя</label>
          <input type="text" class="span7" ng-model="createdLecturer.password" ngv-required>
          <label for="">Кафедра преподователя</label>
          <select class="span7" ng-model="createdLecturer.department"
                  ng-options="department.id as department.name for department in departments" ngv-required>
          </select>
          <label class="checkbox">
            <input type="checkbox" ng-model="createdLecturer.admin"> Администратор
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateLecturer()" ng-show="mode == 'editMode'">
          <h3>Редактировать преподователя</h3>
          <label for="">Имя преподователя</label>
          <input type="text" class="span7" ng-model="editedLecturer.name" ngv-required>
          <label for="">Фамилия преподователя</label>
          <input type="text" class="span7" ng-model="editedLecturer.surname" ngv-required>
          <label for="">Отчество преподователя</label>
          <input type="text" class="span7" ng-model="editedLecturer.patronymic" ngv-required>
          <label for="">Логин преподователя</label>
          <input type="text" class="span7" ng-model="editedLecturer.login" ngv-required>
          <label for="">Пароль преподователя</label>
          <input type="text" class="span7" ng-model="editedLecturer.password">
          <label for="">Кафедра преподователя</label>
          <select class="span7" ng-model="editedLecturer.department"
                  ng-options="department.id as department.name for department in departments" ngv-required>
          </select>
          <label class="checkbox">
            <input type="checkbox" ng-model="editedLecturer.admin"> Администратор
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали преподователя</h3>
          <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>{{viewedLecturer.name}}</dd>
            <dt>Фамилия</dt>
            <dd>{{viewedLecturer.surname}}</dd>
            <dt>Отчество</dt>
            <dd>{{viewedLecturer.patronymic}}</dd>
            <dt>Логин</dt>
            <dd>{{viewedLecturer.login}}</dd>
            <dt>Пароль (хеш)</dt>
            <dd>{{viewedLecturer.password}}</dd>
            <dt>Кафедра</dt>
            <dd>{{viewedLecturer.department.name}}</dd>
            <dt>Администратор</dt>
            <dd>{{viewedLecturer.admin && 'Да' || 'Нет'}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Кафедры" icon="building" category="department">
      <div ng-controller="DepartmentsManageController"
           spin-on="{on: 'departments:request-start', off: 'departments:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Описание</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addDepartment()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="department in departments">
              <td>{{$index + 1}}</td>
              <td>{{department.name}}</td>
              <td>{{department.description}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editDepartment(department)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewDepartment(department)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseDepartment(department)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!departments || !departments.length">
              <td colspan="4" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createDepartment()" ng-show="mode == 'addMode'">
          <h3>Добавить кафедру</h3>
          <label for="">Имя кафедры</label>
          <input type="text" class="span7" ng-model="createdDepartment.name" ngv-required>
          <label for="">Описание кафедры</label>
          <textarea type="text" class="span7" ng-model="createdDepartment.description" ngv-required></textarea>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateDepartment()" ng-show="mode == 'editMode'">
          <h3>Редактировать кафедру</h3>
          <label for="">Имя кафедры</label>
          <input type="text" class="span7" ng-model="editedDepartment.name" ngv-required>
          <label for="">Описание кафедры</label>
          <textarea type="text" class="span7" ng-model="editedDepartment.description" ngv-required></textarea>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали кафедры</h3>
          <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>{{viewedDepartment.name}}</dd>
            <dt>Описание</dt>
            <dd>{{viewedDepartment.description}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Специальности" icon="addstar" category="speciality">
      <div ng-controller="SpecialitiesManageController"
           spin-on="{on: 'specialities:request-start', off: 'specialities:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Описание</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addSpeciality()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="speciality in specialities">
              <td>{{$index + 1}}</td>
              <td>{{speciality.name}}</td>
              <td>{{speciality.description}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editSpeciality(speciality)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewSpeciality(speciality)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseSpeciality(speciality)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!specialities || !specialities.length">
              <td colspan="4" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createSpeciality()" ng-show="mode == 'addMode'">
          <h3>Добавить специальность</h3>
          <label for="">Имя специальности</label>
          <input type="text" class="span7" ng-model="createdSpeciality.name" ngv-required>
          <label for="">Описание Специальности</label>
          <textarea type="text" class="span7" ng-model="createdSpeciality.description" ngv-required></textarea>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateSpeciality()" ng-show="mode == 'editMode'">
          <h3>Редактировать специальность</h3>
          <label for="">Имя специальности</label>
          <input type="text" class="span7" ng-model="editedSpeciality.name" ngv-required>
          <label for="">Описание Специальности</label>
          <textarea type="text" class="span7" ng-model="editedSpeciality.description" ngv-required></textarea>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали специальности</h3>
          <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>{{viewedSpeciality.name}}</dd>
            <dt>Описание</dt>
            <dd>{{viewedSpeciality.description}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Группы" icon="group" category="group">
      <div ng-controller="GroupsManageController"
           spin-on="{on: 'groups:request-start', off: 'groups:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Номер</th>
              <th>Курс</th>
              <th>Год</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addGroup()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="group in groups">
              <td>{{$index + 1}}</td>
              <td>{{group.number}}</td>
              <td>{{group.course}}</td>
              <td>{{group.year}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editGroup(group)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewGroup(group)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseGroup(group)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!groups || !groups.length">
              <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createGroup()" ng-show="mode == 'addMode'">
          <h3>Добавить группу</h3>
          <label for="">Номер группы</label>
          <input type="text" class="span7" ng-model="createdGroup.number" ngv-required>
          <label for="">Курс группы</label>
          <input type="text" class="span7" ng-model="createdGroup.course" ngv-required>
          <label for="">Год группы</label>
          <input type="text" class="span7" ng-model="createdGroup.year" ngv-required>
          <label for="">Подгруппа группы</label>
          <input type="text" class="span7" ng-model="createdGroup.subgroup">
          <label for="">Специальность группы</label>
          <select class="span7" ng-model="createdGroup.specialtyId"
                  ng-options="speciality.id as speciality.name for speciality in specialities" ngv-required>
          </select>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateGroup()" ng-show="mode == 'editMode'">
          <h3>Редактировать группу</h3>
          <label for="">Номер группы</label>
          <input type="text" class="span7" ng-model="editedGroup.number" ngv-required>
          <label for="">Курс группы</label>
          <input type="text" class="span7" ng-model="editedGroup.course" ngv-required>
          <label for="">Год группы</label>
          <input type="text" class="span7" ng-model="editedGroup.year" ngv-required>
          <label for="">Подгруппа группы</label>
          <input type="text" class="span7" ng-model="editedGroup.subgroup">
          <label for="">Специальность группы</label>
          <select class="span7" ng-model="editedGroup.specialtyId"
                  ng-options="speciality.id as speciality.name for speciality in specialities" ngv-required>
          </select>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали группы</h3>
          <dl class="dl-horizontal">
            <dt>Номер</dt>
            <dd>{{viewedGroup.number}}</dd>
            <dt>Курс</dt>
            <dd>{{viewedGroup.course}}</dd>
            <dt>Год</dt>
            <dd>{{viewedGroup.year}}</dd>
            <dt>Подгруппа</dt>
            <dd>{{viewedGroup.subgroup}}</dd>
            <dt>Специальность</dt>
            <dd>{{viewedGroup.specialtyId}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Учебные дисциплины" icon="memo" category="discipline">
      <div ng-controller="DisciplinesManageController"
           spin-on="{on: 'disciplines:request-start', off: 'disciplines:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Имя</th>
              <th>Тип</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addDiscipline()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="discipline in disciplines">
              <td>{{$index + 1}}</td>
              <td>{{discipline.name}}</td>
              <td>{{discipline.disciplineType.type}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editDiscipline(discipline)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewDiscipline(discipline)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseDiscipline(discipline)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!disciplines || !disciplines.length">
              <td colspan="4" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createDiscipline()" ng-show="mode == 'addMode'">
          <h3>Добавить дисциплину</h3>
          <label for="">Имя дисциплины</label>
          <input type="text" class="span7" ng-model="createdDiscipline.name" ngv-required>
          <label for="">Тип дисциплины</label>
          <select class="span7" ng-model="createdDiscipline.disciplineTypeId"
                  ng-options="dType.id as dType.type for dType in dTypes" ngv-required>
          </select>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateDiscipline()" ng-show="mode == 'editMode'">
          <h3>Редактировать дисциплину</h3>
          <label for="">Имя дисциплины</label>
          <input type="text" class="span7" ng-model="editedDiscipline.name" ngv-required>
          <label for="">Тип дисциплины</label>
          <select class="span7" ng-model="editedDiscipline.disciplineTypeId"
                  ng-options="dType.id as dType.type for dType in dTypes" ngv-required>
          </select>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали дисциплины</h3>
          <dl class="dl-horizontal">
            <dt>Имя</dt>
            <dd>{{viewedDiscipline.name}}</dd>
            <dt>Тип</dt>
            <dd>{{viewedDiscipline.disciplineTypeId}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Типы учебных дисциплин" icon="bookmark" category="disciplineType">
      <div ng-controller="DisciplineTypesManageController"
           spin-on="{on: 'disciplineTypes:request-start', off: 'disciplineTypes:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Тип</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addDisciplineType()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="disciplineType in disciplineTypes">
              <td>{{$index + 1}}</td>
              <td>{{disciplineType.type}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editDisciplineType(disciplineType)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewDisciplineType(disciplineType)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseDisciplineType(disciplineType)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!disciplineTypes || !disciplineTypes.length">
              <td colspan="3" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createDisciplineType()" ng-show="mode == 'addMode'">
          <h3>Добавить тип дисциплины</h3>
          <label for="">Тип дисциплины</label>
          <input type="text" class="span7" ng-model="createdDisciplineType.type" ngv-required>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateDisciplineType()" ng-show="mode == 'editMode'">
          <h3>Редактировать тип дисциплины</h3>
          <label for="">Тип дисциплины</label>
          <input type="text" class="span7" ng-model="editedDisciplineType.name" ngv-required>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали типа дисциплины</h3>
          <dl class="dl-horizontal">
            <dt>Тип</dt>
            <dd>{{viewedDisciplineType.type}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Учебные программы" icon="drawer" category="curriculum">
      <div ng-controller="CurriculumsManageController"
           spin-on="{on: 'curriculums:request-start', off: 'curriculums:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Дисциплина</th>
              <th>Специальность</th>
              <th>Часы</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addCurriculum()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="curriculum in curriculums">
              <td>{{$index + 1}}</td>
              <td>{{curriculum.discipline.name}}</td>
              <td>{{curriculum.specialty.name}}</td>
              <td>{{curriculum.hours}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editCurriculum(curriculum)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewCurriculum(curriculum)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseCurriculum(curriculum)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!curriculums || !curriculums.length">
              <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createCurriculum()" ng-show="mode == 'addMode'">
          <h3>Добавить учебную программу</h3>
          <label for="">Дисциплина программы</label>
          <select class="span7" ng-model="createdCurriculum.discipline"
                  ng-options="discipline.id as discipline.name for discipline in disciplines" ngv-required>
          </select>
          <label for="">Специальность программы</label>
          <select class="span7" ng-model="createdCurriculum.specialty"
                  ng-options="speciality.id as speciality.name for speciality in specialities" ngv-required>
          </select>
          <label for="">Часы программы</label>
          <input type="text" class="span7" ng-model="createdCurriculum.hours" ngv-required>
          <label for="">Семестр программы</label>
          <input type="text" class="span7" ng-model="createdCurriculum.semester" ngv-required>
          <label class="checkbox">
            <input type="checkbox" ng-model="createdCurriculum.isExam"> Экзамен
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-model="createdCurriculum.isSetoff"> SetOff
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateCurriculum()" ng-show="mode == 'editMode'">
          <h3>Редактировать учебную программу</h3>
          <label for="">Дисциплина программы</label>
          <select class="span7" ng-model="editedCurriculum.discipline"
                  ng-options="discipline.id as discipline.name for discipline in disciplines" ngv-required>
          </select>
          <label for="">Специальность программы</label>
          <select class="span7" ng-model="editedCurriculum.specialty"
                  ng-options="speciality.id as speciality.name for speciality in specialities" ngv-required>
          </select>
          <label for="">Часы программы</label>
          <input type="text" class="span7" ng-model="editedCurriculum.hours" ngv-required>
          <label for="">Семестр программы</label>
          <input type="text" class="span7" ng-model="editedCurriculum.semester" ngv-required>
          <label class="checkbox">
            <input type="checkbox" ng-model="editedCurriculum.isExam"> Экзамен
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-model="editedCurriculum.isSetoff"> SetOff
          </label>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали учебной программы</h3>
          <dl class="dl-horizontal">
            <dt>Дисциплина</dt>
            <dd>{{viewedCurriculum.discipline}}</dd>
            <dt>Специальность</dt>
            <dd>{{viewedCurriculum.specialty}}</dd>
            <dt>Часы</dt>
            <dd>{{viewedCurriculum.hours}}</dd>
            <dt>Семестр</dt>
            <dd>{{viewedCurriculum.semester}}</dd>
            <dt>Экзамен</dt>
            <dd>{{viewedCurriculum.isExam && 'Да' || 'Нет'}}</dd>
            <dt>SetOff</dt>
            <dd>{{viewedCurriculum.isSetoff && 'Да' || 'Нет'}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Аудитории" icon="photo" category="classroom">
      <div ng-controller="ClassroomsManageController"
           spin-on="{on: 'classrooms:request-start', off: 'classrooms:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Номер</th>
              <th>Вместимость</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addClassroom()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="classroom in classrooms">
              <td>{{$index + 1}}</td>
              <td>{{classroom.number}}</td>
              <td>{{classroom.capacity}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editClassroom(classroom)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewClassroom(classroom)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseClassroom(classroom)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!classrooms || !classrooms.length">
              <td colspan="4" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createClassroom()" ng-show="mode == 'addMode'">
          <h3>Добавить аудиторию</h3>
          <label for="">Номер аудитории</label>
          <input type="text" class="span7" ng-model="createdClassroom.number" ngv-required>
          <label for="">Вместимость аудитории</label>
          <input type="text" class="span7" ng-model="createdClassroom.capacity" ngv-required>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateClassroom()" ng-show="mode == 'editMode'">
          <h3>Редактировать аудиторию</h3>
          <label for="">Номер аудитории</label>
          <input type="text" class="span7" ng-model="editedClassroom.number" ngv-required>
          <label for="">Вместимость аудитории</label>
          <input type="text" class="span7" ng-model="editedClassroom.capacity" ngv-required>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали аудитории</h3>
          <dl class="dl-horizontal">
            <dt>Номер</dt>
            <dd>{{viewedClassroom.number}}</dd>
            <dt>Вместимость</dt>
            <dd>{{viewedClassroom.capacity}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
    <div pane name="Время занятий" icon="time" category="time">
      Время занятий
    </div>
    <div pane name="Занятия" icon="bell" category="study">
      <div ng-controller="StudiesManageController"
           spin-on="{on: 'studies:request-start', off: 'studies:request-end'}"
           class="overflow-pane">
        <table class="table" ng-show="mode == 'listMode'">
          <thead>
            <tr>
              <th>#</th>
              <th>Группа</th>
              <th>Преподователь</th>
              <th>Учебная программа</th>
              <th width="70">
                <a class="action lsf" title="добавить" ng-click="addStudy()">plus</a>
                <a class="action lsf" title="синхронизировать" ng-click="sync()">sync</a>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="study in studies">
              <td>{{$index + 1}}</td>
              <td>{{study.group.number}}</td>
              <td>{{study.lecturer.fullName}}</td>
              <td>{{study.curriculum.id}}</td>
              <td>
                <a class="action lsf" title="редактировать" ng-click="editStudy(study)">edit</a>
                <a class="action lsf" title="просмотреть" ng-click="viewStudy(study)">view</a>
                <a class="action lsf" title="удалить" ng-click="eraseStudy(study)">eraser</a>
              </td>
            </tr>
            <tr ng-show="!studies || !studies.length">
              <td colspan="5" style="text-align: center">Нет данных</td>
            </tr>
          </tbody>
        </table>
        <form name="addForm" class="manage-form" ng-submit="createStudy()" ng-show="mode == 'addMode'">
          <h3>Добавить занятие</h3>
          <label for="">Группа занятия</label>
          <select class="span7" ng-model="createdStudy.group"
                  ng-options="group.id as groupAdapter(group) for group in groups" ngv-required>
          </select>
          <label for="">Преподователь занятия</label>
          <select class="span7" ng-model="createdStudy.lecturer"
                  ng-options="lecturer.id as lecturer.fullName for lecturer in lecturers" ngv-required>
          </select>
          <label for="">Учебная программа занятия</label>
          <select class="span7" ng-model="createdStudy.curriculum"
                  ng-options="curriculum.id as curriculumAdapter(curriculum) for curriculum in curriculums" ngv-required>
          </select>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: addForm.$invalid, 'btn-primary': !addForm.$invalid}"
                 ng-disabled="addForm.$invalid" value="Создать">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <form name="editForm" class="manage-form" ng-submit="updateStudy()" ng-show="mode == 'editMode'">
          <h3>Редактировать занятие</h3>
          <label for="">Группа занятия</label>
          <select class="span7" ng-model="editedStudy.group"
                  ng-options="group.id as groupAdapter(group) for group in groups" ngv-required>
          </select>
          <label for="">Преподователь занятия</label>
          <select class="span7" ng-model="editedStudy.lecturer"
                  ng-options="lecturer.id as lecturer.fullName for lecturer in lecturers" ngv-required>
          </select>
          <label for="">Учебная программа занятия</label>
          <select class="span7" ng-model="editedStudy.curriculum"
                  ng-options="curriculum.id as curriculumAdapter(curriculum) for curriculum in curriculums" ngv-required>
          </select>
          <input type="submit" class="btn btn-large btn-block span7"
                 ng-class="{disabled: editForm.$invalid, 'btn-primary': !editForm.$invalid}"
                 ng-disabled="editForm.$invalid" value="Изменить">
          <input type="button" class="btn btn-large btn-block btn-danger span7" value="Отмена"
                 ng-click="mode = 'listMode'">
        </form>
        <div ng-show="mode == 'viewMode'">
          <h3>Детали занятия</h3>
          <dl class="dl-horizontal">
            <dt>Группа</dt>
            <dd>{{viewedStudy.number}}</dd>
            <dt>Преподователь</dt>
            <dd>{{viewedStudy.capacity}}</dd>
            <dt>Учебная программа</dt>
            <dd>{{viewedStudy.capacity}}</dd>
          </dl>
          <input type="button" class="btn btn-large btn-block span7" value="Назад"
                 ng-click="mode = 'listMode'">
        </div>
      </div>
    </div>
  </div>
</div>